<template name="header">
    {{#if currentUser}}
        <header>
            <nav class="nav-header">
                <ul>
                    <li class="nav-item">
                        <a href="{{pathFor 'admin'}}">{{i18n "admin"}}</a>
                    </li>
                    <li class="nav-item right">
                        <a href="#" class="header-logout">{{i18n "logout"}}</a>
                    </li>
                </ul>
            </nav>
        </header>
    {{/if}}
</template>